.jumbotron{
	background-color: #9BFEA1;
	color:black;
}

footer{
	padding:10px 10px 0 10px;
	background-color: #9BFEA1;
	margin-bottom: 0px;
	margin-top:10px;
}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top:10px;
}

.btn-reserva{
	width:100%;
	background-color: #008609;
}

a{
	color:black;
	text-decoration: underline;
}